**/__pycache__
**/rank_0
*.log
exp*
**/.ipynb_checkpoints
data_download
graphs
test*
!tests/
!tests/**/*.py
rewritten_network
log
results
train_debug.py
profiler_data
summary
log_output
rank_*
*.ckpt
*.pt
kernel*
.DS_Store
*.hdf5
slurm_logs/
PolymathicAI the_well master datasets/
